<div class="entry-form">

<h2>Log In</h2>
<%= form_tag({:controller => "person", :action => "update_password"}, :method => "post") do %>

  <% # if flash[:user_message] %> 
    <p class="user_message"><%= flash[:user_message] %></p>
  <% # end %> 
  
  <%= label_tag(:password, "Password:", :class => 'form_label') %>
  <%= password_field_tag(:password, nil, :class => 'form_field') %>
  <p>

  <%= label_tag(:password2, "Confirm:", :class => 'form_label') %>
  <%= password_field_tag(:password2, nil, :class => 'form_field') %>
  <p>

  <%= submit_tag("Update Password") %>
  
  <p>

<% end %>

</div>

