<div class="entry-form">

<h2>Change Password</h2>
<div>Enter your new password twice below.</div>
  <%= render 'shared/user_message' %>
<%= form_tag({:controller => "person", :action => "update_password"}, :method => "post") do %>
  
  <%= label_tag(:password, "New password:", :class => 'form_label') %>
  <%= password_field_tag(:password, nil, :class => 'form_field') %>
  <p>

  <%= label_tag(:password2, "Password again:", :class => 'form_label') %>
  <%= password_field_tag(:password2, nil, :class => 'form_field') %>
  <p>

  <%= submit_tag("Update Password") %>
  
  <p>

<% end %>

</div>

