<div class="entry-form">

<h2>Forgot Password</h2>
<div>Enter your user name or email address below to receive a password reset link.</div>

<%= form_tag({:controller => "person", :action => "forgot_password"}, :method => "post") do %>

  <% # if flash[:user_message] %> 
    <p class="user_message"><%= flash[:user_message] %></p>
  <% # end %> 
  
  <%= label_tag(:username, "User name:", :class => 'form_label') %>
  <%= text_field_tag(:username, nil, :class => 'form_field') %>
  <p>

  <%= label_tag(:email_address, "Email address:", :class => 'form_label') %>
  <%= password_field_tag(:email_address, nil, :class => 'form_field') %>
  <p>

  <%= submit_tag("Find Me") %>
  
<% end %>
</div>

