<div class="entry-form">

<h2>Log In</h2>
  <%= render 'shared/user_message' %>
<%= form_tag({:controller => "person", :action => "authenticate"}, :method => "post") do %>
  
  <%= label_tag(:username, "User name:", :class => 'form_label') %>
  <%= text_field_tag(:username, nil, :class => 'form_field') %>
  <p>

  <%= label_tag(:password, "Password:", :class => 'form_label') %>
  <%= password_field_tag(:password, nil, :class => 'form_field') %>
  <p>

  <%= submit_tag("Log In") %>
  
  <p>
  <%= link_to "Forgot password", :controller => "person", :action => "forgot_password" %>
  
<% end %>
</div>

