
<h2>Sign Up</h2>
<%= render 'shared/user_message' %>

<form class="form-horizontal" role="form" action="/home/signup" method="post">
  
  <div class="form-group">
     <%= label_tag(:userName, "User name:", :class => 'control-label col-sm-3') %>
     <div class="col-sm-6">
        <%= text_field_tag(:userName, @person.username, :class => 'form-control', :autofocus => true) %>
     </div>
  </div>

  <div class="form-group">
     <%= label_tag(:password, "Password:", :class => 'control-label col-sm-3') %>
     <div class="col-sm-6">
     <%= password_field_tag(:password, nil, :class => 'form-control') %>
     </div>
  </div>

  <div class="form-group">
     <%= label_tag(:confirmPassword, "Confirm Pw:", :class => "control-label col-sm-3") %>
     <div class="col-sm-6">
     <%= password_field_tag(:confirmPassword, nil, :class => 'form-control') %>
     </div>
  </div>

  <div class="form-group">
     <%= label_tag(:firstName, "First name:", :class => 'control-label col-sm-3') %>
     <div class="col-sm-6">
     <%= text_field_tag(:firstName, @person.first_name, :class => 'form-control') %>
     </div>
  </div>

  <div class="form-group">
     <%= label_tag(:lastName, "Last name:", :class => 'control-label col-sm-3') %>
     <div class="col-sm-6">
     <%= text_field_tag(:lastName, @person.last_name, :class => 'form-control') %>
     </div>
  </div>

  <div class="form-group">
     <%= label_tag(:emailAddress, "Email:", :class => 'control-label col-sm-3') %>
     <div class="col-sm-6">
     <%= text_field_tag(:emailAddress, @person.email_address, :class => 'form-control') %>
     </div>
  </div>

  <div class="form-group">
     <div class="col-sm-offset-3 col-sm-4">
         <button type="submit" class="btn btn-default btn-primary">Continue</button>
     </div>
  </div>
</form>


