<h1>New Location</h1>
<%= render 'shared/user_message' %>

<form class="form-horizontal" role="form" action="/location/create" method="post">

  <div class="form-group">
    <%= label_tag(:locName, "Loc Name:", :class => 'form_label col-sm-2') %>
    <%= text_field_tag(:locName, @location.loc_name, :class => 'form_field', :autofocus => true) %>
  </div>
  <div class="form-group">
    <%= label_tag(:street1, "Street 1:", :class => 'form_label col-sm-2') %>
    <%= text_field_tag(:street1, @location.street1, :class => 'form_field') %>
  </div>
  <div class="form-group">
    <%= label_tag(:street2, "Street 2:", :class => 'form_label col-sm-2') %>
    <%= text_field_tag(:street2, @location.street2, :class => 'form_field') %>
  </div>
  <div class="form-group">
    <%= label_tag(:street1, "City:", :class => 'form_label col-sm-2') %>
    <%= text_field_tag(:city, @location.city, :class => 'form_field') %>
  </div>
  <div class="form-group">
    <%= label_tag(:street1, "State:", :class => 'form_label col-sm-2') %>
    <%= text_field_tag(:stateProvince, @location.state_province, :class => 'form_field') %>
  </div>
  <div class="form-group">
    <%= label_tag(:postalCode, "Zip/Postal:", :class => 'form_label col-sm-2') %>
    <%= text_field_tag(:postalCode, @location.postal_code, :class => 'form_field') %>
  </div>
  <div class="form-group">
    <%= label_tag(:country, "Country:", :class => 'form_label col-sm-2') %>
    <%= text_field_tag(:country, @location.country, :class => 'form_field') %>
  </div>
  <div class="form-group">
    <%= label_tag(:phoneNumber, "Phone number:", :class => 'form_label col-sm-2') %>
    <%= text_field_tag(:phoneNumber, @location.phone_number, :class => 'form_field') %>
  </div>

  <div class="form-group">
    <%= label_tag(:btn, '', :class => 'form_label col-sm-2') %>
    <%= submit_tag("Save", :class => 'btn btn-primary') %>
  </div>

  <%= hidden_field_tag 'company_id', @location.company_id %>

</form>
