<div>

  <h2>Business Search</h2>

  <form class="form-horizontal" role="form" action="/location/search" method="post">

    <div class="form-group">
      <%= label_tag(:name, 'Company Name:', :class => 'form_label col-sm-2') %>
      <%= text_field_tag(:name, @criteria[:name], :class => 'form_control', :placeholder => 'name or partial', :autofocus => true) %>
    </div>

    <div class="form-group">
      <%= label_tag(:category_id, 'Category:', :class => 'form-label col-sm-2') %>
      <%= collection_select(nil, :category_id, Category.all, :id, :description, :selected => @criteria[:category_id], :include_blank => true, :class => 'form_control  col-sm-3') %>
    </div>

    <div class="form-group">
      <%= label_tag(:near, 'Near:', :class => 'form_label col-sm-2') %>
      <%= text_field_tag(:near, @criteria[:near], :class => 'form_control', :placeholder => 'address') %>
    </div>

    <div class="form-group">
      <%= label_tag(:distance, 'Distance:', :class => 'form_label col-sm-2') %>
      <%= select_tag(:distance, options_for_select([5, 10, 20, 50, 100], @criteria[:distance]), :class => 'form_control') %>
    </div>

    <div class="form-group">
      <%= submit_tag('Search', :class => 'btn btn-primary col-sm-offset-2') %>
    </div>

  </form>
  <% if @results.size > 0 %>
      <div class='spacer20'>&nbsp;</div>
      <h3>Search Results</h3>
      <table class='table table-auto table-striped table-bordered'>
        <tr>
          <th>Company Name</th>
          <th>Category</th>
          <th>Location</th>
          <th>Address</th>
          <th>Distance (mi.)</th>
        </tr>
        <% @results.each do |loc| %>
            <tr>
              <td class='col-sm-2'><a href="/location/view?id=<%= loc[:id] %>"><%= loc[:company_name] %></a></td>
              <td class='col-sm-2'><%= loc[:category_description] %></td>
              <td class='col-sm-2'><%= loc[:loc_name] %></td>
              <td class='col-sm-3'><%= loc[:address] %></td>
              <td class='col-sm-2'><%= loc[:distance] %></td>
            </tr>

        <% end %> <!-- @results.each -->
      </table>

  <% end %> <!-- if @results -->
</div>