<h2>Edit Company</h2>

<%= render 'shared/user_message' %>

<form class="form-horizontal" role="form" action="/company/update" method="post">

  <div class="form-group">
    <%= label_tag(:name, 'Company name:', :class => 'control-label col-sm-2') %>
    <div class='col-sm-4'>
      <%= text_field_tag(:name, @company.name, :class => 'form-control') %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag(:category, 'Category:', :class => 'control-label col-sm-2') %>
    <div class='col-sm-4'>
        <%= collection_select(nil, :category_id, Category.all, :id, :description, :selected => @company.category_id) %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-sm-2 col-sm-offset-2'>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </div>

  <%= hidden_field_tag 'company_id', @company.id %>

</form>

<div>
  <h4>
    <%= link_to 'Locations', :controller => 'location', :action => 'index', :company_id => @company.id %>
  </h4>
  <h4>
    <%= link_to 'Services', :controller => 'service', :action => 'index', :company_id => @company.id %>
  </h4>
</div>
<div class='spacer20'>&nbsp;</div>
<p>Back to <a href="/company/index">My Companies</a></p>