<h2><%= @company.name %></h2>
<h3>Services</h3>

<div class="services_list">
  <ol>
    <%
       @company.services.each do |svc|
    %>
        <li>
          <%= svc.description %> <a href="/service/destroy?id=<%= svc.id %>">X</a> <%= ' primary' if svc.is_primary %>
        </li>

    <%
       end
    %>
  </ol>
</div>
<form class="form-horizontal" role="form" action="/service/create" method="post">

  <div class="form-group">
    <%= label_tag(:description, 'Service:', :class => 'control-label col-sm-2') %>
    <div class="col-sm-10">
      <%= text_field_tag(:description, nil, :class => 'form-control') %>
      <%= hidden_field_tag 'company_id', @company.id %>
      <button type="submit" class="btn btn-default">Add</button>
    </div>
  </div>

</form>